<div class="container">
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<div class="swiper-container" data-loop="true" data-slides-per-view=1 data-autoplay="10000" data-speed="1000" data-space-between="0" data-md-slides="1,0" data-sm-slides="1,0" data-xs-slides="1,0" data-slide-effect="slide">
				<div class="swiper-wrapper">
					<article class="swiper-slide project">
						<div class="project__thumb">
							<img src="images/project_1.jpg" alt="" class="js-img-switch">
						</div>
						<div class="project__text">
							<h3 class="project__title">Tony Elumelu Foundation opens applications for 3rd cycle of Entrepreneurship Programme</h3>
							<p class="project__location">MI, 302, Road 22</p>
							<a href="#" class="project__fullscreen-link icon-resize-full"></a>
						</div>
					</article>
				</div>
				<div class="swiper-pagination"></div>
				<div class="swiper-button-prev"></div>
				<div class="swiper-button-next"></div>
			</div>
		</div>
	</div>
</div>