<div class="container">
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<div class="swiper-container projects-swiper" data-slides-per-view=1 data-autoplay="10000" data-speed="1000" data-space-between="0" data-md-slides="1,0" data-sm-slides="1,0" data-xs-slides="1,0" data-slide-effect="slide">
				<div class="swiper-wrapper">
					<article class="swiper-slide project">
						<div class="project__thumb">
							<img src="images/project_1.jpg" alt="" class="js-img-switch">
						</div>
						<div class="project__text">
							<h4 class="project__title">Project name 01</h4>
							<p class="project__location"><i class="icon-location"></i>MI, 302, Road 22</p>
						</div>
					</article>
					<article class="swiper-slide project">
						<div class="project__thumb">
							<img src="images/project_1.jpg" alt="" class="js-img-switch">
						</div>
						<div class="project__text">
							<h4 class="project__title">Project name 02</h4>
							<p class="project__location"><i class="icon-location"></i>MI, 302, Road 22</p>
						</div>
					</article>
					<article class="swiper-slide project">
						<div class="project__thumb">
							<img src="images/project_1.jpg" alt="" class="js-img-switch">
						</div>
						<div class="project__text">
							<h4 class="project__title">Project name 03</h4>
							<p class="project__location"><i class="icon-location"></i>MI, 302, Road 22</p>
						</div>
					</article>
				</div>
				<a href="#" class="fullscreen-link icon-resize-full"></a>
			</div>
				<div class="swiper-button-prev"></div>
				<div class="swiper-button-next"></div>
		</div>
	</div>
</div>