<section class="video-section divider">
	<div class="container">
		<div class="row">
			<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
				<p class="video-section__description">Keep away from people who try to belittle Good just ask Planning your ambitions Design people always do that bbvut the really great. Friendly neighbour there that power. Keep away Architecture who try to Ambitions people do that really great.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
				<div class="video">
					<div class="video-btn-wrapper">
						<button class="video__play-btn">
							<span class="video__play-btn--triangle"></span>
						</button>
						<div class="video-btn-wrapper__text">Watch Full Story</div>
					</div>
					<div class="video-popup">
						<buton class="close-btn"></buton>
						<iframe width="1200" height="675" src="about:blank" data-src="https://www.youtube.com/embed/wJF5NXygL4k?rel=0&amp;autoplay=1&amp;controls=0&amp;loop=1&amp;showinfo=0"></iframe>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>