{% extends "layout.html" %}
{% set page_title = "Home page" %}
{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-6">
			<h1>Title h1</h1>
			<h2>Title h2</h2>
			<h3>Title h3</h3>
			<h4>Title h4</h4>
			<h5>Title h5</h5>
			<h6>Title h6</h6>
			<p>Paragraph Donec efficitur, dui ac porta posuere, dui libero aliquam dolor, id malesuada odio dolor vel sem. Aliquam a nisi feugiat, accumsan magna sit amet, sagittis nulla. Maecenas vel diam sit amet augue luctus dapibus in eu orci. Nulla facilisi. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce dapibus sapien a ex pellentesque aliquam. Morbi id neque quis ex convallis viverra. Donec sapien justo, auctor a aliquam lacinia, tempor id turpis. Phasellus ex erat, mollis ac velit sit amet, condimentum vehicula leo.</p>
			<a href="#">Link</a>
			<a href="#" class="btn btn--white">Our Works</a>
			<button class="btn btn--default">Submit</button>
			<input type="submit" class="btn btn--default" value="Submit input">
		</div>
		<div class="col-md-6 dark-section dark-section--bg">
			<h1>Title h1</h1>
			<h2>Title h2</h2>
			<h3>Title h3</h3>
			<h4>Title h4</h4>
			<h5>Title h5</h5>
			<h6>Title h6</h6>
			<p>Paragraph Donec efficitur, dui ac porta posuere, dui libero aliquam dolor, id malesuada odio dolor vel sem. Aliquam a nisi feugiat, accumsan magna sit amet, sagittis nulla. Maecenas vel diam sit amet augue luctus dapibus in eu orci. Nulla facilisi. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce dapibus sapien a ex pellentesque aliquam. Morbi id neque quis ex convallis viverra. Donec sapien justo, auctor a aliquam lacinia, tempor id turpis. Phasellus ex erat, mollis ac velit sit amet, condimentum vehicula leo.</p>
			<a href="#">Link</a>
			<a href="#" class="btn btn--white">Our Works</a>
			<button class="btn">Submit</button>
			<input type="submit" class="btn btn--default" value="Submit input">
		</div>
	</div>
</div>
{% endblock %}