// General styles
body {
	font-family: $main-font;
	@include font(16, $text-color, null, 30);
}

h1, h2, h3, h4, h5, h6 {
	font-family: $titles-font;
}

h1 {
	@include font(48, $white, 800, 130);
	text-transform: uppercase;
	@include large-size {
		font-size: 65px;
	}
}

h2 {
	@include font(31, $black, 700, 31);
	text-transform: uppercase;
}

h3 {
	@include font(16, $black, 700, 48);
	text-transform: uppercase;
}

.dark-section {
	h1, h2, h3, h4, h5, h6, p {
		color: $white;
	}
}

p {
	font-size: 14px;
}

.btn {
	display: inline-block;
	font-family: $main-font;
	font-size: 16px;
	text-transform: uppercase;
	border-radius: 3px;
	border: none;
	padding: 10px 40px;
	&--white {
		background-color: $white;
		@include font(16, $main-color, null, null, 40);
		transition: .3s;
		&:hover,
		&:active,
		&:focus {
			background-color: transparent;
			color: $white;
			box-shadow: inset 0 0 0 3px $white;
			text-decoration: none;
			outline: none;
		}
	}
}

a {
	color: $main-color;
}